In [2]:
import pandas as pd
import numpy as np

In [10]:
!ls data-files/

data-file1.xlsx data-file2.xlsx

In [11]:
!ls data-files/data-file*.xlsx

data-files/data-file1.xlsx data-files/data-file2.xlsx

In [12]:
import glob
glob.glob("data-files/data-file*.xlsx")

['data-files/data-file1.xlsx', 'data-files/data-file2.xlsx']

In [31]:
all_data = pd.DataFrame()
for f in glob.glob("data-files/data-file*.xlsx"):
    df = pd.read_excel(f)
    all_data = all_data.append(df,ignore_index=True)

In [36]:
all_data.describe()

       Header Header.1
count       6        6
unique      1        1
top     data1    Data1
freq        6        6

In [32]:
all_data.head()

  Header Header.1
0  data1    Data1
1  data1    Data1
2  data1    Data1
3  data1    Data1
4  data1    Data1

In [33]:
status = pd.read_excel("data-files/overview-file.xlsx")
status

  Header Header.1
0  data1       of
1  data1       of
2  data1       of

In [35]:
all_data_st = pd.merge(all_data, status, how="right")
all_data_st.head()

  Header Header.1
0  data1       of
1  data1       of
2  data1       of

In [43]:
all_data.to_csv('output/test-csv-print.csv')